body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
}
h1{
    color: brown;
    font-size: 30px;
}
.google-btn {
    display: inline-block;
    background-color: #4285F4;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 18%;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.google-btn:hover {
    background-color: #3b6e22;
}

.google-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.google-icon img {
    height: 20px;
    width: 20px;
}